{% load linking_extras %}
{% if form.id.value %}
    {% for left, right, alg in linking_schema|get_item:form.seq.value %}
        <div class="link-var-row">
            <div class="row">
                <label for="link_id_left_{{ form_index }}_{{ forloop.counter0 }}" class="control-label col-sm-2">Left
                    Variable</label>
                <div class="preview col-sm-4">
                    <select id="link_id_left_{{ form_index }}_{{ forloop.counter0 }}"
                            class="left-header left-link-var form-control"
                            name="link_id_left_{{ form_index }}_{{ forloop.counter0 }}">
                        <option value="{{ left }}" selected="selected">{{ left }}</option>
                    </select>
                </div>
                <label for="link_id_right_{{ form_index }}_{{ forloop.counter0 }}" class="control-label col-sm-2">Right
                    Variable</label>
                <div class="preview col-sm-4">
                    <select id="link_id_right_{{ form_index }}_{{ forloop.counter0 }}"
                            class="left-header right-link-var form-control"
                            name="link_id_right_{{ form_index }}_{{ forloop.counter0 }}">
                        <option value="{{ right }}" selected="selected">{{ right }}</option>
                    </select>
                </div>
            </div>
            {% include "linking/comparison_methods.html" %}
        </div>
    {% endfor %}
{% endif %}
