{% extends "./project_form.html" %}
{% load jsonify %}
{% load static %}

{% block header %}
    <legend><h2>Linking Project</h2></legend>
{%  endblock %}

{%  block main_fields %}
    {{ block.super }}
    <div class="row">
        <label for="{{ form.relationship_type.id_for_label }}" class="control-label col-sm-2">{{ form.relationship_type.label }}</label>
        <div class="preview col-sm-10">
            {{ form.relationship_type }}
        </div>
    </div>
{% endblock %}

{%  block datasets %}
    <fieldset>
        <legend class="text-left">Linking Datasets</legend>
        <div class="row required">
            <label for="{{ form.left_data.id_for_label }}" class="control-label col-sm-2">{{ form.left_data.label }}</label>
            <div class="preview col-sm-4">
                {{ form.left_data }}
            </div>
            <label for="{{ form.right_data.id_for_label }}" class="control-label col-sm-2">{{ form.right_data.label }}</label>
            <div class="preview col-sm-4">
                {{ form.right_data }}
            </div>
        </div>
        <div class="row required">
            <label for="{{ form.left_index.id_for_label }}"
                   class="control-label col-sm-2">{{ form.left_index.label }}</label>
            <div class="preview col-sm-4">
                <select name="left_index" id="id_left_index"
                        class="left-header form-control">
                    {% if form.left_index.value %}
                        <option value="{{ form.left_index.value }}" selected="selected">
                                {{ form.left_index.value }}</option>
                    {% endif %}
                </select>
            </div>
            <label for="{{ form.right_index.id_for_label }}"
                   class="control-label col-sm-2">{{ form.right_index.label }}</label>
            <div class="preview col-sm-4">
                <select name="right_index" id="id_right_index"
                        class="right-header form-control">
                    {% if form.right_index.value %}
                        <option value="{{ form.right_index.value }}" selected="selected">
                                {{ form.right_index.value }}</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="row required">
            <label for="{{ form.left_entity.id_for_label }}"
                   class="control-label col-sm-2">{{ form.left_entity.label }}</label>
            <div class="preview col-sm-4">
                <select name="left_entity" id="id_left_entity"
                        class="left-header form-control">
                    {%  if form.left_entity.value %}
                        <option value="{{ form.left_entity.value }}" selected="selected">
                                {{ form.left_entity.value }}</option>
                    {% endif %}
                </select>
            </div>
            <label for="{{ form.right_entity.id_for_label }}"
                   class="control-label col-sm-2">{{ form.right_entity.label }}</label>
            <div class="preview col-sm-4">
                <select name="right_entity" id="id_right_entity"
                        class="right-header form-control">
                    {% if form.right_entity.value %}
                        <option value="{{ form.right_entity.value }}" selected="selected">
                                {{ form.right_entity.value }}</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </fieldset>
{%  endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
       var right_data_id = "{{ form.right_data.id_for_label }}";
       var DATASET_COLUMNS_URL = "{% url 'datasets:header' %}";
       var COMPARISON_ARGS = JSON.parse('{{ comparison_args | jsonify }}');
       var rightColumns = JSON.parse('{{ form.right_columns.value | jsonify }}') || [];
       header_options[right_data_id] = '';
       var required_right = JSON.parse('{{ required_right  | jsonify }}') || [];

        $("#" + right_data_id).change(function() {
            getRightHeader();
        });

    </script>
{% endblock %}
