<table class="table table-striped list-table">
    <thead>
    <tr>
        <th style="width: 250px;">Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th style="width: 125px;">Last Edited</th>
        <th colspan="4">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for project in linkingproject_list %}
        <tr>
            <td style="border-right:solid #ddd 1px; vertical-align: middle !important;" class="name-cell" {% if project.status == 'FAILED' %}rowspan="2"{% endif %}>
                <a href="{% url 'linking:edit' project.type project.pk %}">{{ project.name }}</a>
            </td>
            <td style="border-right:solid #ddd 1px;" class="description-cell">{{ project.description|truncatechars:100 }}</td>
            <td style="border-right:solid #ddd 1px;" class="type-cell">{{ project.type }}</td>
            <td style="border-right:solid #ddd 1px;" class="status-cell">{{ project.status }}</td>
            <td style="border-right:solid #ddd 1px;">{{ project.last_edit_date }}</td>
            <td style="width: 40px" class="exec-cell text-left">
                {% if project.status == 'RUNNING'%}
                    <a class="project-exec" href="{% url 'linking:stop_project' project.pk %}" data-toggle="tooltip" title="Stop Project">
                        <i class="glyphicon glyphicon-stop"></i>
                    </a>
                {% elif project.status != 'DRAFT' %}
                    <a class="project-exec" href="{% url 'linking:exec' project.pk %}" data-toggle="tooltip" title="Run Project">
                        <i class="glyphicon glyphicon-play-circle"></i>
                    </a>
                {% endif %}
            </td>
            <td style="width: 40px" class="text-center">
                {% if project.status == 'COMPLETED' %}
                    <a class="results-view" href="{% url 'linking:view_results' project.pk %}" data-toggle="tooltip" title="View Results">
                        <i class="glyphicon glyphicon-equalizer"></i>
                    </a>
                {% endif %}
            </td>
            <td style="border-right:solid #ddd 1px; width: 40px" class="action-cell text-right">
                {% if project.status != 'DRAFT' %}
                    <a href="{% url 'linking:export' project.pk %}" data-toggle="tooltip" title="Export to JSON">
                        <i class="glyphicon glyphicon-export"></i>
                    </a>
                {% endif %}
            </td>
            <td style="width: 40px;" class="action-cell text-right">
                <a class="text-danger" href="{% url 'linking:delete' project.pk %}" data-toggle="tooltip" title="Delete Project">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        {% if project.status == 'FAILED' %}
            <tr class="danger">
                <td style="border-top:none;" colspan="6"><span style="display:block;width:250px;word-wrap:break-word; color: #800000;"><Strong>Error: </Strong>{{ project.comments }}</span></td>
            </tr>
        {% endif %}
    {% endfor %}
    <tbody>
</table>

<script type="text/javascript">
    total_running = parseInt("{{ total_running }}");
</script>
