
#Database connection
LINK_DB_NAME=postgres
LINK_DB_USER=postgres
LINK_DB_HOST=postgres2
LINK_DB_PORT=5432
LINK_DB_SERVICE=postgres
LINK_DB_PASSWORD=

IN_DOCKER=1
C_FORCE_ROOT=true
CELERY_BROKER_URL=redis://redis:6379/0

#Valid Logging levels : DEBUG, INFO, WARNING, ERROR, CRITICAL
LOGGING_LEVEL=INFO

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=e(q8huau(-+qz6oi9!k62#_+t61n(*7daz7vmv2439ns1+2=g^
DJANGO_ALLOWED_HOSTS=.localhost

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=



