#Database connection
LINK_DB_NAME=postgres
LINK_DB_USER=postgres
LINK_DB_HOST=postgres2
LINK_DB_PORT=5432
LINK_DB_SERVICE=postgres
LINK_DB_PASSWORD=

IN_DOCKER=1
C_FORCE_ROOT=true
CELERY_BROKER_URL=redis://redis:6379/0

#Valid Logging levels: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOGGING_LEVEL=DEBUG

APP_ROOT_URL=
STATIC_URL=/static/
