{% extends "base.html" %}
{% block content %}
    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Data Linking Web-App</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5"><strong>Version: </strong><samp>{{ data.app_version }}</samp></div>
                    <div class="col-sm-5 pull-right text-right"><a href="{{ data.app_source }}"><strong>Github</strong></a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4"><strong>Git Commit:</strong></div>
                    <div class="col-sm-6">
                        <a href="{{ data.app_source }}/commit/{{ data.web_commit }}">
                            <samp>{{ data.web_commit }}</samp>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <strong>Data Linking Library</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5"><strong>Version: </strong><samp>{{ data.link_version }}</samp></div>
                    <div class="col-sm-5 pull-right text-right"><a href="{{ data.link_source }}"><strong>Github</strong></a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4"><strong>Git Commit:</strong></div>
                    <div class="col-sm-6">
                        <a href="{{ data.link_source }}/commit/{{ data.link_commit }}">
                            <samp>{{ data.link_commit }}</samp>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

{% endblock content %}
