{% extends "base.html" %}

{%  block content %}
    <p>Ligo uses highly configurable matching criteria to perform deduplication and linking on datasets.
    </p>
    <p>
    Ligo will help you:
    </p>
    <ul>
        <li>
            <p>Identify common entities in a CSV formatted dataset [de-duplication]</p>
        </li>
        <li>
            <p>Identify common entities between two CSV formatted datasets [linking]</p>
        </li>
    </ul>

    <h4><a href="{% url 'datasets:list' %}">Datasets</a></h4>
    <p> At this time Ligo is limited to using comma seperated value files (.csv).
      To add a new dataset to Ligo, you must ensure it has a field that uniquely identifies each row.
      If the dataset doesn't already have a unique row id , this can easily achieved by adding a simple
      sequential integer field.  Once the file is ready it should be added to the dataset folder 
      (files/media/datasets).
        </p>
    <h4><a href="{% url 'linking:list' %}">Projects</a></h4>
    <p>
    You can perform deduplication and linking on your datasets via projects.
        When you create a new project you will be prompted to pick either
        a deduplication or linking project.
    </p>
    <p>
        A deduplication project finds
        common entities within a single dataset,
        whereas a linking project finds common entities between two datasets.
    </p>

{% endblock content %}
